#header{

margin:0;
border:1px solid #ccc;
background:white;
}

#header1{

margin:0;
border:1px solid #ccc;
background:#55acee;
border:1px dotted #55acee;
border-bottom:1px solid rgba(0,0,0,0.15);
position: relative;
}
button img{

margin-bottom:-2px;

}

button{

border:none;

}

.etape{

margin-top:-10px;
color:white;
font-family:arial;
}
html, body{

margin:0;
font-family:arial, sans-serif;
}
.grand3{

display:block;
width :30px;
height : 30px;
float:right;
background-repeat:none;
margin-top: -40px;
margin-right: 250px;
}
#rightstart img{

margin-bottom:8px;

}
.coté1{
margin-left:70px;
border-radius:8px;
display:none;
}
.coté3{
margin-left:70px;
border-radius:8px;
display:none;
}
.coté{
display:none;
margin-left:160px;
border-radius:8px;
}.coté2{
display:none;
margin-left:160px;
border-radius:8px;
}
.coté:first-child{
margin-top:40px;

}
#leftstart{


width:400px;
min-height:600px;
float:left;

}
#leftstart1{


width:600px;
min-height:600px;
float:left;
}
#rightstart{

width:550px;
min-height:600px;
float:right;
margin-right:40px;
}
#rightstart1{

width:350px;
min-height:600px;
float:right;
margin-right:40px;
}
#leftstart1 h3{

font-size:30px;
font-family:roboto, sans-serif;
}
.inbox{
margin:0;
display:block;
margin-top:20px;
box-sizing: border-box;
margin-left:20px;
margin-right:10px;
width:20px;
min-height:20px;
background-color: transparent;
cursor: pointer;
}
#leftstart1 p{

font-size:20px;
color:#66757f;
}
#leftstart1 li{
display:inline-block;
font-family:roboto, sans-serif;
font-size:17px;

}
.profil{

margin-right:-120px;

}
#avatar{

margin-left:-190px;
border-radius:8px;

}
 #leftstart1 form{
 
 margin-top:30px;
 
 }
#photo2{
margin:0;
margin-left:20px;
min-height:120px;
position:absolute;
width:120px;
border:5px solid white;
border-radius:6px;


}
#photo2 img{

margin:0;
border-radius:6px;
}
#photo1{

min-height:100px;
border:1px #e1e8ed;
background:#e1e8ed;

}
#leftstart1 ul {

margin:0;
padding:0;
}
#photo{

border-top-left-radius:8px;
border-top-right-radius:8px;
width:450px;
margin-top:40px;

}
.ahah2{

margin-top:30px;
margin-left:20px;
margin-bottom:10px;
color:#2C2D2D;

}
.ahah{

margin-top:60px;
line-height:40px;
margin-left:25px;
font-size:30px;
font-family:Lucida Grande, sans-serif;
width:290px;
}
.ahah1{
margin:0;
margin-top:60px;
line-height:30px;
margin-left:25px;
font-size:20px;
font-family:roboto, sans-serif;
width:340px;
color:#616262;
}
#submit5{
margin-top:20px;
margin-left:25px;
padding:13px;
background-color: #55acee;
background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.05));
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#0C000000)";
border: 1px solid #3b88c3;
width:180px;
border-radius:5px;
font-family:roboto, sans-serif;
color:white;
font-size:15px;
cursor:pointer;
}
#submit6{
margin-top:40px;
margin-left:35px;
padding:13px;
background-color: #55acee;
background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.05));
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#0C000000)";
border: 1px solid #3b88c3;
width:250px;
border-radius:5px;
font-family:roboto, sans-serif;
color:white;
font-size:15px;
cursor:pointer;
min-height:50px;
font-weight:bold;
}

.ahah4{
margin:0;
  z-index: 9999;
    position: fixed;
    top: 0;
    width: 600px;
min-height:60px;
border-bottom:1px solid #ccc;
background:white;
margin-left:18px;
font-family:helvetica, sans-serif;
}

#submit5:hover{

background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.2));

}
#submit6:hover{

background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.2));

}


#bottom a {

text-decoration:none;
color:#6699E6;

}
#corps2 h2{


margin:0;
margin-top:30px;

}
#bottom{

min-height:70px;
background:#F4F4F4;
border:1px dotted #ccc;
}
.lol3{

line-height:30px;
font-size:20px;
}
#corps{


border:1px solid #ccc;
width:800px;
margin:auto;
border-radius:5px;
margin-top:20px;
}
#corps4{

width:1000px;
margin:auto;
}
#corps2{

background:white;
width:1000px;
margin: 0 auto;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
border: 1px solid #e1e8ed;
position:absolute;
left:50%;
margin-left:-560px;
padding-bottom:30px;
}

#corps1{

margin:0;
padding:0;
width:1000px;
margin:auto;
border-radius:5px;
margin-top:20px;
}
#bottom p{
margin:0;
margin-left:100px;
margin-top:20px;

}
.index1 span{


margin-top:10px;
}
.index input{

width:190px;
min-height:25px;
border-radius:3px;
border:1px solid #ccc;
margin-top:15px;

}
.index{

margin-left:60px;
background:white;
padding-left:15px;
margin-top:60px;
border-radius:5px;
padding-bottom:13px;
}
.index1{

padding-right:-10px;
margin-left:60px;
background:white;
padding-left:15px;
margin-top:10px;
border-radius:5px;
padding-bottom:13px;
padding-top:10px;
}
.index1 input{

width:305px;
min-height:25px;
border-radius:3px;
border:1px solid #ccc;
margin-top:15px;

}
#mail{
width:310px;


}
#footer p {

color:white;

}
#submit2{

border-radius:4px;
background-color: #ffac33;
background-image: linear-gradient(#ffcc4d,#ffac33);
width:140px;
padding:7px;
margin-left:10px;
color:black;
font-family:roboto, sans-serif;
font-size:15px;
margin-left:165px;
border-color: #f1a02a;
text-shadow:0 1px 0 rgba(255,255,255,0.5);

}
#submit3{

border-radius:4px;
background:#6699E6;
width:110px;
padding:7px;
margin-left:10px;
color:white;
font-family:roboto, sans-serif;
}
#left h2{
color:white;
margin-left:10px;
margin-right:10px;
font-size:35px;
font-family:roboto, sans-serif;
}
#left p {

color:white;
margin-left:10px;
margin-right:10px;
}
.cfmail{

margin-left:100px;
margin-right:100px;
}
#left{

float:left;
width:480px;
min-height:300px;
margin-top:30px;
}
#right{
float:left;
width:400px;
min-height:300px;

}
#submit{
margin:0;
margin-top:30px;
min-height:18px;
margin-left:100px;
padding:10px;
background:#6699E6;
border:1px solid #ccc;
width:110px;
border-radius:5px;
color:white;
font-family:roboto, sans-serif;
font-size:15px;

}
.lol2 a {

color:black;

}
.lol2{

margin-left:100px;
margin-right:100px;
font-size:12px;
color:#939495;
}
#submit1{

margin:0;
margin-top:30px;
min-height:18px;
margin-left:100px;
padding:10px;
background:#6699E6;
border:1px solid #ccc;
width:390px;
border-radius:5px;
color:white;
font-family:roboto, sans-serif;
font-size:15px;
cursor:pointer;
}

#submit4{

margin:0;
margin-top:20px;
min-height:18px;
margin-left:100px;
padding:10px;
background-color: #ffac33;
background-image: linear-gradient(#ffcc4d,#ffac33);
border:1px solid #ccc;
width:390px;
border-radius:5px;
color:black;
font-family:roboto, sans-serif;
font-size:15px;
cursor:pointer;
}


#submit1:hover{

opacity:0.8;
}
#lol{

margin-bottom:30px;

}

.grand{

min-height:25px;
border-radius:5px;
width:290px;
margin-left:100px;
margin-bottom:10px;
border:1px solid #ccc;
margin-top:10px;
}
.grand2{

min-height:25px;
border-radius:5px;
width:390px;
margin-left:100px;
margin-bottom:10px;
margin-top:10px;
font-weight:bold;

}
.gris{
color:#ccc;

}
.close{
margin-left:30px;
}
#gcontact{

margin-left:20px;

}
#contact img{

margin-top:10px;

}
#contact{

border-top:1px solid #ccc;
min-height:40px;
}
#contact table{
margin:0;

}
#contact span {


font-size:14px;
margin-top:20px;
font-weight:bold;
font-family:arial, sans-serif;
} 
.contact1{

color:black;


}
.grand1{

min-height:25px;
border-radius:5px;
width:390px;
margin-left:100px;
margin-bottom:10px;
margin-top:10px;
font-weight:bold;
border:1px solid #ccc;
}



h2{
margin-top:40px;
margin-left:100px;
font-family:roboto, sans-serif;
margin-bottom:10px;
}

#icone_touitter
{
 margin-left:550px;
 width: 50px; 
 height: 50px;
 
}
